body, .container1, header, nav, .content1, #msg, #upe, footer, .slider, .content2, .content3, .content4 {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background: #d6a4a4; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#dae2f8, #d6a4a4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#dae2f8, #d6a4a4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#dae2f8, #d6a4a4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#dae2f8, #d6a4a4); /* Standard syntax */
	font-family: 'Vollkorn', serif;
	color: #EEE;
	height: auto;
	width: 1200px;
	margin: auto;
}
/* slideshow styles*/
.fadein{
	height:480px;
	width: 100%;
	overflow: hidden;
	position: relative;
	right: 30px;
	bottom:25px;
	z-index: -1;
	margin-top:120px;
	padding: 10px;
}
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
.fadein img { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0; 
}
.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }

/* settings for all pages */
.container1 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-height: 1280px;
}
/* styles for the header of all pages*/
header {
	height: 80px;
	width: 1200px;
	overflow: hidden;
	position: fixed;
	top:0;
	background-image: url("images/head.png");
}
header img{
	position:fixed;
}
.topnav {
  overflow: hidden;
  position: fixed;
  left:500px;
}

.topnav a {
  float: right;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav .navigation-menu-button {
  display: none;
}	
/* css for the navigation*/
nav {
	padding: 9px;
	width: 100%;
	margin: auto;
	max-width: 720px;
	text-align: right;
	
}
nav a {
	text-decoration: none;
	color: #404040;
	padding: 9px;
}
nav a:visited {
	color: #808080;
}
nav li {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}
/* styles for index.html*/
.content1 {
	width: 100%;
	clear: both;
}
#upe {
	background-color: #828794;
	width: 565px;
	float: left;
	height: 240px;
}
#upe h2 {
	text-align: left;
	padding: 4px 45px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#upe li {
	margin: 1px 3px 1px 3px;
}
#msg {
	background-color: #828794;
	width: 565px;
	float: right;
	height: 240px;
}
#msg h2 {
	text-align: left;
	padding: 4px 45px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#msg li {
	margin: 1px 3px 1px 3px;
}
#msg a:link {
	color: #EEE;
}
#msg a:visited {
	color: #ffcc99;
}
#msg a:hover {
	color: #DB7093;
}
/* styles for bout me page*/
.content2 {
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
#aboutme {
	background-color: #828794;
	border: 1px solid black;
	width: 85%;
	margin: auto;
	max-width: 100%;
	height: auto;
	overflow: auto;
}
#aboutme p {
	padding: 20px;
	margin: 10px;
}
#aboutme h2 {
	text-align: center;
	padding: 2px 6px 2px 6px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#aboutme img {
	float: left;
	margin: 10px;
	border: solid black 1px;
}
#audio audio {
	margin: 0 auto;
	display: block;
}
/* styles for the events page*/
.content3 {
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top:72px;
}
#event1 {
	background-color: #828794;
	border: 1px solid black;
	margin: auto;
	width: 80%;
	overflow: auto;
}
#event1 h1 {
	text-align: center;
	text-decoration: underline;
}
#event1 figure {
	padding: 10px;
	float: left;
}
#event1 a:link {
	color: #EEE;
}
#event1 a:visited {
	color: #ffcc99;
}
#event1 a:hover {
	color: #FF69B4;
}
#book {
	background-color: #828794;
	border: 1px solid black;
	width: 80%;
	margin: auto;
	overflow: auto;
	margin-top: 6px;
}
#book h1 {
	text-align: center;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#book form{
	margin: 10px;
}
#book p {
	padding: 6px;
}
/* styles for the "contact me" page */
.content4 {
	background-color: #828794;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	border: solid black 1px;
	margin-top: 80px;
}
#cont {
	background-color: #596874;
	border: 1px solid black;
	width: auto;
	margin: auto;
	max-height: 1080px;
	overflow: auto;
	margin-top: 6px;
}
/*header styles*/
#cont h2 {
	text-align: left;
	padding-left: 20px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#cont p {
	background-color: #EEE;
	margin: 10px 20px 10px 20px;
	color: #4e5158;
	padding: 2px;
	border: 1px solid black;
}
#email {
	background-color: #596874;
	border: 1px solid black;
	width: auto;
	margin: auto;
	max-height: 1080px;
	overflow: auto;
	margin-top: 6px;
}
/*header styles*/
#email h2 {
	text-align: left;
	padding-left: 20px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#email p {
	background-color: #EEE;
	margin: 10px 20px 10px 20px;
	color: #4e5158;
	padding: 5px 10px;
	border: 1px solid black;
}
#social {
	background-color: #596874;
	border: 1px solid black;
	width: auto;
	margin: auto;
	max-height: 1080px;
	overflow: auto;
	margin-top: 6px;
}
/*header styles*/
#social h2 {
	text-align: left;
	padding-left: 20px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
}
#social p {
	background-color: #EEE;
	margin: 10px 20px 10px 20px;
	color: #4e5158;
	padding: 10px;
	border: 1px solid black;
}
/*no underlining of links for this page*/
#social a {
	text-decoration: none;
}
/* footer styles */
footer {
	clear: both;
	text-align: center;
}
/* stylying of the links to external websites at bottom of page */
footer a {
	text-decoration: none;
	color: #efefef;
	text-shadow: 2px 2px 4px #304352 ;
}
footer li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-radius: 8px;
	font-size: 20px;
	padding: 10px;
}
.ig {
	font-weight: bold;
}
.sc {
	font-weight: bold;
}
.bc {
	font-weight: bold;
}
.sp {
	font-weight: bold;
}
.fb {
	font-weight: bold;
}
/* Small screen/tablet styles*/
@media screen and (max-width:600px){
	article{
		padding: 2%;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.navigation-menu-button{
    float: right;
    display: block;
	}
	@media screen and (max-width:600px){
	.topnav.responsive {position: 
	relative;}
	.topnav.responsive .navigation-menu-button{
    position: absolute;
    right: 0;
    top: 0;
	}
	.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
		}
	}
	.navigation-menu-button{
		float: right;
	}
	header{
		width: 90%;
		height:80px;
	}
	header img{
		float: left;
	}
	.fadein{
		height:40%;
		width: 40%;
		overflow: hidden;
		position: relative;
		z-index: -1;
		
		
	}
	
	section{
		text-align: center;
	}
	article.content1{
		width: 70%;
		display: inline-block;
	}
	#upe{
		width:85%;
		float:none;
		margin:2% auto;
		display:inline-block;
		text-align: left;
	}
	#msg{
		width:85%;
		float:none;
		margin:2% auto;
		display:inline-block;
		text-align: left;
	}
	
}
/* Standard screen styles */
@media screen and (min-width: 880px){
	header{
		width: 1200px;
	}
	header nav{
		display: block;
	}
	section{
		padding-bottom: 2%;
		text-align: left;
	}
	#upe {
	background-color: #828794;
	width: 565px;
	float: left;
	max-height: 400px;
	}
	#upe h2 {
	text-align: left;
	padding: 4px 45px;
	text-decoration: underline;
	font-family: 'Arvo', serif;
	}
	#upe li {
		margin: 1px 3px 1px 3px;
	}
	#msg {
		background-color: #828794;
		width: 565px;
		float: right;
		max-height: 400px;
	}
	#msg h2 {
		text-align: left;
		padding: 4px 45px;
		text-decoration: underline;
		font-family: 'Arvo', serif;
	}
	#msg li {
		margin: 1px 3px 1px 3px;
	}
	#msg a:link {
		color: #EEE;
	}
	#msg a:visited {
		color: #ffcc99;
	}
	#msg a:hover {

	.content4 {
	background-color: #828794;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	border: solid black 1px;
	margin-top: 80px;
	}
	article.content4{
		width: 98.5%;
	}

}
/* Large screen/ tablet styles*/
/* Maximum screen styles*/